    <header class="mt3 container">
      <div class="clearfix mxn1">
        <div class="media media--bottom px2">
          <div class="col-2 media-figure">
            <a href="index.html">
              <img src="img/me.jpg" alt="" class="m0 rounded">
            </a>
          </div>
          <div class="col-10 media-text pr2 pb2 border-bottom">
            <h1 class="mt0">
              <a href="index.html" class="merriweather regular body-text-color no-decoration">{{ site.name }}</a>
            </h1>
            <h2 class="h4 merriweather regular">{{ site.job_title }}</h2>
            <h2 class="m0 h4 merriweather regular"><a href="{{ site.institution_URL}}">{{ site.institution }}</a>
            </h2>
          </div>
        </div>
      </div>
    </header>