              <nav class="merriweather">
                <a href="index.html" class="button block button-transparent">Home</a>
                <a href="about.html" class="button block button-transparent">About</a>
                <a href="cv.pdf" class="button block button-transparent">CV</a>
                <a href="https://twitter.com/{{ site.twitter_username }}" class="button block button-transparent twitterblue">Twitter</a>
                <a href="https://github.com/{{ site.github_username }}" class="button block button-transparent githubyellow">GitHub</a>
                <a href="mailto:{{ site.email }}" class="button block button-transparent">Email</a>
              </nav>