                    <tr>
                      <td class="py2">
                        <p class="h4 italic"><a href="{{ site.publication_URL }}">{{ site.publication_title }}</a>.</p>
                        <p class="h5">{{ site.name }}, Author Two, Author Three</p>
                        <p class="h5"><span class="italic">Journal title</span> volume (year) page-page.</p>
                      </td>
                    </tr>
                    <tr>
                      <td class="py2">
                        <p class="h4 italic"><a href="#">This is the title of my second most recent journal article</a>.</p>
                        <p class="h5">{{ site.name }}, Author Two, Author Three</p>
                        <p class="h5"><span class="italic">Journal title</span> volume (year) page-page.</p>
                      </td>
                    </tr>