<!DOCTYPE html>
<html lang="en-US">

  {% include include.head.html %}

  <body>

    {% include include.header.html %}

    <div class="mt2 container">
      <div class="clearfix mxn2">
        <div class="flex">
          <aside class="col-2 p2 pr0">
            <div class="rounded border">

              {% include include.nav.html %}

            </div>
          </aside>
          <div class="col-10 p2">
            <section id="about" class="px2">

              {{ content }}

            </section>
          </div>
        </div>
      </div>
    </div>

  </body>

</html>
